.text-label {
    font-size: 14px;
    font-family: sans-serif;
}

.form-text {
    height: 38px;
    width: 300px;
    font-size: 14px;
    color: #000000;
    font-family: sans-serif;
    border: 2px solid #0000001F;
    border-radius: 2px;
}

.form-select {
    width: 200px;
    height: 38px;
    border: 2px solid #0000001F;
    border-radius: 2px;
    background-color: white;
    color: black;
}


.form-number {
    width: 116px;
    height: 46px;
    background: #F6F7F8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.numberClick {
    display: inline-block;
    height: 46px;
    width: 58px;
    background: #F6F7F8;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #33A0FF;
}
.numberClick:hover {
    cursor: pointer;
}


.selectFill {
    background-color: #FAFAFB;
    border: 1px solid #0000001F;

}

.medium {
    height: 46px;
    width: 300px;
}

.large {
    height: 60px;
    width: 300px;    
}
