.text-label {
    font-size: 14px;
    font-family: sans-serif;
}

.form-text {
    height: 38px;
    width: 300px;
    font-size: 14px;
    color: #000000;
    font-family: sans-serif;
    border: 2px solid #0000001F;
    border-radius: 2px;
}

.text-medium {
    height: 46px;
    width: 300px;
}

.text-large {
    height: 60px;
    width: 300px;    
}
